
.header-about {
  text-align: center;
  h1,
  h2 {
    font-family: baron-g, sans-serif;
    text-transform: lowercase;
  }
  &::before {
    opacity: 0;
  }
  .cat-header-block {
    background-color: rgba(#2c2f33, .8);
    &::before {
      opacity: 0.12;
    }
  }
}