@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<footer class="main-footer">
	<div class="contaiter">
		<nav class="main-menu footer-menu">
			<ul>
				<li class="active"><a href="#">Электроника</a></li>
				<li><a href="#">Новости IT</a></li>
				<li><a href="#">Обзоры</a></li>
				<li><a href="#">Лайфхаки</a></li>
				<li><a href="#">DIY</a></li>
				<li><a href="#">О сайте</a></li>
			</ul>
		</nav>

		<nav class="soc">
			<ul>
				<li>
					<a href="#"><i class="fa fa-vk"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-facebook"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-odnoklassniki"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-instagram"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-rss"></i></a>
				</li>
			</ul>
		</nav>
	</div>
</footer>
<footer class="bottom-footer">
	<div class="container text-center">
		<div class="footer-copy">
			2018 © <span class="logo-footer logo-litera">ITGEEK.ru</span>
		</div>
		<p>Копирование контента и размещение на других сайтах запрещено.</p>
	</div>
</footer>