
// Likely On Page Start
.likely-on-page {
  $likely-sz: 1.5rem; //Likely Font Size
	.likely, .likely__widget
{
    padding: 0;
    text-indent: 0 !important;
    list-style: none !important;
    font-weight: 400;
    font-family: Helvetica Neue,Arial,sans-serif;
}
  .likely {
    display: inline-block;
  }
  .likely__widget {
    margin: 0;
    font-size: inherit;
  }
  .likely {
    opacity: 0;
    font-size: 0 !important;
  }
  .likely_visible {
    opacity: 1;
    transition: opacity .1s ease-in;
  }
  .likely > * {
    display: inline-block;
    visibility: hidden;
  }
  .likely_visible > * {
    visibility: inherit;
  }
  .likely__widget {
    position: relative;
    white-space: nowrap;
  }
  .likely__button,
  .likely__widget {
    display: inline-block;
  }
  .likely__button,
  .likely__counter {
    text-decoration: none;
    text-rendering: optimizeLegibility;
    margin: 0;
    outline: 0;
  }
  .likely__button {
    position: relative;
    user-select: none;
  }
  .likely__counter {
    display: none;
    position: relative;
    font-weight: 400;
  }
  .likely_ready {
    .likely__counter {
      display: inline-block;
    }
    .likely__counter_empty {
      display: none;
    }
  }
  .likely__button,
  .likely__counter,
  .likely__icon {
    vertical-align: top;
  }
  .likely__widget {
    vertical-align: top;
    transition: background .33s ease-out,color .33s ease-out,fill .33s ease-out;
    &:active,
    &:focus,
    &:hover {
      transition: none;
      cursor: pointer;
    }
  }
  @media (hover: none) {
    .likely__widget {
      &:active,
      &:focus,
      &:hover {
        transition: background .33s ease-out,color .33s ease-out,fill .33s ease-out;
        cursor: unset;
      }
    }
  }
  .likely__icon {
    position: relative;
    text-align: left;
    display: inline-block;
  }
  .likely svg {
    position: absolute;
    left: .3rem;
    top: .3rem;
    width: 1.6rem;
    height: 1.6rem;
  }
  .likely__button,
  .likely__counter {
    line-height: inherit;
    cursor: inherit;
  }
  .likely__button:empty {
    display: none;
  }
  .likely__counter {
    text-align: center;
  }
  .likely {
    .likely__widget {
      color: #000;
      background: rgba(231, 231, 231, 0.8);
    }
    .likely__counter {
      background-size: .1rem .1rem;
      background-repeat: repeat-y;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0) 0.5px, rgba(0, 0, 0, 0) 100%);
    }
  }
  .likely-light {
    .likely__widget {
      color: #fff;
      fill: #fff;
      background: rgba(236, 236, 236, 0.16);
      text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
    }
    .likely__counter {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0, rgba(255, 255, 255, 0) 0.5px, rgba(255, 255, 255, 0) 100%);
    }
  }
  .likely__widget_facebook {
    fill: #425497;
    &:active,
    &:focus,
    &:hover {
      background: rgba(207, 212, 229, 0.8);
    }
  }
  @media (hover: none) {
    .likely__widget_facebook {
      &:active,
      &:focus,
      &:hover {
        background: rgba(231, 231, 231, 0.8);
      }
    }
  }
  .likely-light .likely__widget_facebook {
    &:active,
    &:focus,
    &:hover {
      text-shadow: #425497 0 0 .25em;
      background: rgba(66, 84, 151, 0.7);
    }
  }
  @media (hover: none) {
    .likely-light .likely__widget_facebook {
      &:active,
      &:focus,
      &:hover {
        text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
        background: rgba(236, 236, 236, 0.16);
      }
    }
  }
  .likely__widget_gplus {
    fill: #dd4241;
    &:active,
    &:focus,
    &:hover {
      background: rgba(246, 207, 207, 0.8);
    }
  }
  @media (hover: none) {
    .likely__widget_gplus {
      &:active,
      &:focus,
      &:hover {
        background: rgba(231, 231, 231, 0.8);
      }
    }
  }
  .likely-light .likely__widget_gplus {
    &:active,
    &:focus,
    &:hover {
      text-shadow: #dd4241 0 0 .25em;
      background: rgba(221, 66, 65, 0.7);
    }
  }
  @media (hover: none) {
    .likely-light .likely__widget_gplus {
      &:active,
      &:focus,
      &:hover {
        text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
        background: rgba(236, 236, 236, 0.16);
      }
    }
  }
  .likely__widget_linkedin {
    fill: #0077b5;
    &:active,
    &:focus,
    &:hover {
      background: rgba(191, 221, 236, 0.8);
    }
  }
  @media (hover: none) {
    .likely__widget_linkedin {
      &:active,
      &:focus,
      &:hover {
        background: rgba(231, 231, 231, 0.8);
      }
    }
  }
  .likely-light .likely__widget_linkedin {
    &:active,
    &:focus,
    &:hover {
      text-shadow: #0077b5 0 0 .25em;
      background: rgba(0, 119, 181, 0.7);
    }
  }
  @media (hover: none) {
    .likely-light .likely__widget_linkedin {
      &:active,
      &:focus,
      &:hover {
        text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
        background: rgba(236, 236, 236, 0.16);
      }
    }
  }
  .likely__widget_odnoklassniki {
    fill: #f6903b;
    &:active,
    &:focus,
    &:hover {
      background: rgba(252, 227, 206, 0.8);
    }
  }
  @media (hover: none) {
    .likely__widget_odnoklassniki {
      &:active,
      &:focus,
      &:hover {
        background: rgba(231, 231, 231, 0.8);
      }
    }
  }
  .likely-light .likely__widget_odnoklassniki {
    &:active,
    &:focus,
    &:hover {
      text-shadow: #f6903b 0 0 .25em;
      background: rgba(246, 144, 59, 0.7);
    }
  }
  @media (hover: none) {
    .likely-light .likely__widget_odnoklassniki {
      &:active,
      &:focus,
      &:hover {
        text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
        background: rgba(236, 236, 236, 0.16);
      }
    }
  }
  .likely__widget_pinterest {
    fill: #bd081c;
    &:active,
    &:focus,
    &:hover {
      background: rgba(238, 193, 198, 0.8);
    }
  }
  @media (hover: none) {
    .likely__widget_pinterest {
      &:active,
      &:focus,
      &:hover {
        background: rgba(231, 231, 231, 0.8);
      }
    }
  }
  .likely-light .likely__widget_pinterest {
    &:active,
    &:focus,
    &:hover {
      text-shadow: #bd081c 0 0 .25em;
      background: rgba(189, 8, 28, 0.7);
    }
  }
  @media (hover: none) {
    .likely-light .likely__widget_pinterest {
      &:active,
      &:focus,
      &:hover {
        text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
        background: rgba(236, 236, 236, 0.16);
      }
    }
  }
  .likely__widget_telegram {
    fill: #34abde;
    &:active,
    &:focus,
    &:hover {
      background: rgba(204, 234, 246, 0.8);
    }
  }
  @media (hover: none) {
    .likely__widget_telegram {
      &:active,
      &:focus,
      &:hover {
        background: rgba(231, 231, 231, 0.8);
      }
    }
  }
  .likely-light .likely__widget_telegram {
    &:active,
    &:focus,
    &:hover {
      text-shadow: #34abde 0 0 .25em;
      background: rgba(52, 171, 222, 0.7);
    }
  }
  @media (hover: none) {
    .likely-light .likely__widget_telegram {
      &:active,
      &:focus,
      &:hover {
        text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
        background: rgba(236, 236, 236, 0.16);
      }
    }
  }
  .likely__widget_twitter {
    fill: #00b7ec;
    &:active,
    &:focus,
    &:hover {
      background: rgba(191, 237, 250, 0.8);
    }
  }
  @media (hover: none) {
    .likely__widget_twitter {
      &:active,
      &:focus,
      &:hover {
        background: rgba(231, 231, 231, 0.8);
      }
    }
  }
  .likely-light .likely__widget_twitter {
    &:active,
    &:focus,
    &:hover {
      text-shadow: #00b7ec 0 0 .25em;
      background: rgba(0, 183, 236, 0.7);
    }
  }
  @media (hover: none) {
    .likely-light .likely__widget_twitter {
      &:active,
      &:focus,
      &:hover {
        text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
        background: rgba(236, 236, 236, 0.16);
      }
    }
  }
  .likely__widget_vkontakte {
    fill: #526e8f;
    &:active,
    &:focus,
    &:hover {
      background: rgba(211, 218, 227, 0.8);
    }
  }
  @media (hover: none) {
    .likely__widget_vkontakte {
      &:active,
      &:focus,
      &:hover {
        background: rgba(231, 231, 231, 0.8);
      }
    }
  }
  .likely-light .likely__widget_vkontakte {
    &:active,
    &:focus,
    &:hover {
      text-shadow: #526e8f 0 0 .25em;
      background: rgba(82, 110, 143, 0.7);
    }
  }
  @media (hover: none) {
    .likely-light .likely__widget_vkontakte {
      &:active,
      &:focus,
      &:hover {
        text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
        background: rgba(236, 236, 236, 0.16);
      }
    }
  }
  .likely__widget_whatsapp {
    fill: #25d366;
    &:active,
    &:focus,
    &:hover {
      background: rgba(200, 244, 216, 0.8);
    }
  }
  @media (hover: none) {
    .likely__widget_whatsapp {
      &:active,
      &:focus,
      &:hover {
        background: rgba(231, 231, 231, 0.8);
      }
    }
  }
  .likely-light .likely__widget_whatsapp {
    &:active,
    &:focus,
    &:hover {
      text-shadow: #25d366 0 0 .25em;
      background: rgba(37, 211, 102, 0.7);
    }
  }
  @media (hover: none) {
    .likely-light .likely__widget_whatsapp {
      &:active,
      &:focus,
      &:hover {
        text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
        background: rgba(236, 236, 236, 0.16);
      }
    }
  }
  .likely {
    margin: 0 -.5rem -1rem;
    .likely__widget {
      line-height: 2rem;
      font-size: 1.4rem;
      border-radius: .3rem;
      height: 2.2rem;
      margin: 0 .5rem 1rem;
    }
    .likely__icon {
      width: 2.2rem;
      height: 2.2rem;
    }
    .likely__button {
      padding: .1rem .4rem .1rem 0;
    }
    .likely__counter {
      padding: .1rem .4rem;
    }
  }
  .likely-big {
    margin: 0 -.6rem -1.2rem;
    .likely__widget {
      line-height: 2.8rem;
      font-size: 1.8rem;
      border-radius: .4rem;
      height: 3.2rem;
      margin: 0 .6rem 1.2rem;
    }
    .likely__icon {
      width: 3.2rem;
      height: 3.2rem;
    }
    .likely__button {
      padding: .2rem .6rem .2rem 0;
    }
    .likely__counter {
      padding: .2rem .6rem;
    }
    svg {
      left: .4rem;
      top: .4rem;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  .likely-small {
    margin: 0 -.4rem -.8rem;
    .likely__widget {
      line-height: 1.4rem;
      font-size: 1.2rem;
      border-radius: .2rem;
      height: 1.8rem;
      margin: 0 .4rem .8rem;
    }
    .likely__icon {
      width: 1.8rem;
      height: 1.8rem;
    }
    .likely__button {
      padding: .2rem .3rem .2rem 0;
    }
    .likely__counter {
      padding: .2rem .3rem;
    }
    svg {
      left: .3rem;
      top: .3rem;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  .likely {
    top: -1rem;
    position: relative;
    .likely__widget {
      border-radius: 0;
      padding: .3rem .3rem 2.5rem .6rem;
      font-size: $likely-sz;
    }
    .likely__counter {
      padding: .1rem .4rem .1rem .6rem;
    }
    .likely__button {
      margin-left: .2rem;
      opacity: .8;
      padding: .1rem .8rem .1rem .1rem;
    }// Likely On Page End
  }
}